LINKS_FILE = "<LINKS_FILE>" 

GREENHOUSE_SEARCH_QUERY = "<GREENHOUSE_SEARCH_QUERY>" 

GREENHOUSE_URL_TEMPLATE = "<GREENHOUSE_URL_TEMPLATE>" 


LEVER_SEARCH_QUERY = "<LEVER_SEARCH_QUERY>" 

LEVER_URL_TEMPLATE = "<LEVER_URL_TEMPLATE>" 


POST_URL = "<POST_URL>" 

JOBS_AUTH_KEY = "<JOBS_AUTH_KEY>" 